@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #fff;
    --color-main: #333;
    --color-blue-main: #20396f;
  }
}

body {
  @apply font-main;
  line-height: 1.4;
  color: var(--color-main);
}